/* Dark Mode Styles for Login Form */
.container {
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    background-color: #1e1e1e;
    /* Dark background for the container */
}

.container h2 {
    text-align: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.textInLoginForm {
    color: white;
}

.divInLoginForm {
    margin: 10px 0;
}

.divInLoginForm label {
    color: white;
}

.divInLoginForm input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #ffffff;
}

.divInLoginForm input::placeholder {
    color: #888;
}

.buttonLogin {
    width: 100%;
    margin-top: 20px;
    padding: 0.5em;
    background-color: #5200aa;
    /* Dark purple button background */
    color: #ffffff;
    /* Light text color for button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    /* Use Flexbox for centering */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}


.buttonLogin:hover {
    background-color: #400084;
    transform: scale(1.025);
}

.buttonLogin:active {
    background-color: #35006d;
    transform: scale(0.95);
}

.error {
    color: #ff5252;
    /* Red color for error messages */
    margin-bottom: 1em;
    text-align: center;
}

/* Additional link styling */
.signUp {
    color: #6000c7;
    /* Light purple for links */
}

.signUp:hover {
    color: #5200aa;
    /* Light color on hover */
}

.footer {
    text-align: center;
    margin-top: 1em;
}