/* src/components/css/checkout.module.css */
/* used in checkout.jsx */

.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    width: 40vw;
    min-width: 400px;
    max-width: 800px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkoutTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #34495e;
    text-align: center;
}

.checkoutDetails {
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 auto 1rem auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userInfo {
    margin-bottom: 1rem;
}

.userInfoRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #bdc3c7;
}

.userInfoRow:last-child {
    border-bottom: none;
}

.userInfoLabel {
    font-weight: bold;
    color: #2c3e50;
}

.userInfoValue {
    color: #7f8c8d;
}

.warningNotification {
    color: rgb(200, 0, 0);
    font-weight: bold;
    font-size: 0.75rem;
    margin: 0.5rem 0 0 0;
}

.warningNotification a {
    color: rgb(0, 100, 200);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.warningNotification a:hover {
    color: rgb(0, 75, 150);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: calc(0.75rem * 1.1);
}

.buyAsAGiftContainer {
    display: flex;
    margin-bottom: 1rem;
}

.buyAsAGiftContainer h4 {
    margin: auto 0;
}

.paymentMethod,
.receivingMethod {
    margin-bottom: 1rem;
}

.paymentMethodTitle,
.receivingMethodTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

.paymentOption,
.receivingOption {
    margin-right: 1rem !important;
    border: 1px solid #bdc3c7 !important;
    border-radius: 4px !important;
}

.orderButton {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.orderButton:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}