/* src/components/css/diamondcalculator.module.css */
/* used in diamondcalculator.jsx */

.mainContainer {
    width: calc(100% - 8rem) !important;
    margin: 10vh auto !important;
}

.calculatorGrid {
    padding: 0 !important;
}

.calculatorContainer {
    padding: 1rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    height: 50vh;
    overflow: auto;
}

.outputGrid {
    padding: 0 0 0 1rem !important;
}

.outputContainer {
    padding: 1rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    height: 50vh;
}

.diamondGrid {
    padding: 0 !important;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.gridContainer {
    display: flex !important;
    margin-bottom: 1rem;
}

.caratSliderContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.inputField {
    width: 100%;
}

.slider {
    margin: auto 1rem !important;
}

.button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculateButton {
    background-color: #28a745;
    color: white;
}

.calculateButton:hover {
    background-color: #218838;
}

.priceGrid div {
    margin-left: 3rem;
    justify-content: left;
}

.result {
    font-size: 3rem !important;
    transition: font-size 0.3s ease;
}

.error {
    margin-top: 1rem;
    font-size: 16px;
    color: rgb(200, 15, 15);
    text-align: center;
}

.toggleButtonGroup {
    display: flex;
    width: 100%;
    justify-content: center;
}

.togglebutton {
    width: 100%;
    padding: 0.5rem !important;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 12px !important;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.5s;
}

.CButton {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    padding: 0.5rem !important;
    width: 100%;
    height: 100%;
}

.productList {
    display: grid;
    width: 100%;
    gap: 1rem;
    margin: 1rem 0;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns of equal width */
}

@media (max-width: 1199px) {
    .result {
        font-size: 2.5rem !important;
        transition: font-size 0.3s ease;
    }
}

@media (max-width: 899px) {
    .outputGrid {
        padding: 1rem 0 0 0 !important;
    }

    .result {
        font-size: 3rem !important;
        transition: font-size 0.3s ease;
    }
}