.header {
    position: sticky;
    top: 0;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 5rem;
}

.logo {
    width: 6rem;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.nav ul#navButtons{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: 4rem;
    padding: 0;
}

.nav button {
    color: white;
    background-color: black;
    text-transform: none;
    padding: 0  5px;
    border-radius: 5px;
    font-size: 1rem;
}

.nav button:hover {
    background-color: grey;
}

.nav div{
    background-position-y: center;
    width: 100vw;
    height: 200px;
}

.nav div ul{
    color: white;
    background-color: black;
    height: 100%;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.nav div li{
    width: 15%;
    padding: 5px 20px;
}

.nav div li:hover{
    background-color: grey;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-right svg {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
}
.header-right svg:hover {
    transform: scale(1.1);
}

.header-right svg:active {
    transform: scale(0.95);
}

.header-right div button:hover {
    transform: scale(1.1);
}

.header-right div button:active {
    transform: scale(0.95);
}

.search-bar {
    width: 20rem;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: none;
}

.icon {
    font-size: 20px;
}

