/* src/components/css/orderButton.module.css */
/* used in orderButton.jsx */

.orderButton {
    padding: 10px 20px;
    background-color: rgb(0, 0, 200);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.orderButton:hover {
    transform: scale(1.05);
    background-color: rgb(0, 0, 150);
    transition: all 0.3s ease;
}

.orderButton:active {
    transform: scale(0.95);
    background-color: rgb(0, 0, 100);
    transition: all 0.3s ease;
}