.diamond-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

.diamond-image-container {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.diamond-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.diamond-details {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.diamond-details h2 {
  margin: 0;
  width: 85%;
  color: #333;
}

.price {
  font-size: 24px;
  color: #000;
  margin-top: 8px;
  font-weight: bold;
}

.diamond-list {
  display: grid;
  gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
}

/* diamondDetails.css */

.diamond-link {
  transition: background-color 250ms ease, transform 250ms ease;
}

.diamond-link:hover {
  transform: scale(1);
  border: solid #000;
  transition: background-color 250ms ease, transform 250ms ease;
}

.diamond-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.image-section {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.diamond-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.thumbnail-gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail-gallery img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.details-section {
  flex: 2;
  min-width: 300px;
  margin: 10px;
}

.details-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.badge-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.badge {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-info {
  margin-top: 20px;
}

.order-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.order-icon {
  font-size: 24px;
}

.specifications-section {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.specifications-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.specifications-section td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.specifications-section td:first-child {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .diamond-box {
    width: 27vw;
  }
  .diamond-list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 955px) {
  .diamond-box {
    width: 39vw;
  }
  .diamond-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 667px) {
  .diamond-box {
    width: 75vw;
  }
  .diamond-list {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}