/* [product]list.css */

.product-list {
  display: grid;
  min-width: 95%;
  gap: 16px;
  padding: 16px;
  margin: 16px auto;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns of equal width */
}

/* [product]box.css */

.product-link {
  transition: background-color 250ms ease, transform 250ms ease;
}

.product-link:hover {
  transform: scale(1.05);
  border: solid black;
  transition: background-color 250ms ease, transform 250ms ease;
}

.product-box {
  border-radius: 8px;
  padding: 0;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

.product-image-container {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.product-image {
  width: 100%;
  max-width: 400px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 12.5em;
}

/* For diamond name (Shorter) */
.product-details h2 {
  font-size: 24px;
  margin: auto 1em;
  color: black;
}

/* For product name (Longer) */
.product-details h3 {
  font-size: 20px;
  margin: auto 1em;
  color: black;
}

.price {
  font-size: 32px;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

/* [product]details.css */

.product-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 85vw;
  margin: 0 auto;
}

.image-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 16px;
  text-align: center;
  align-items: center;
}

.product-details-image {
  width: 60%;
  min-width: 300px;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid rgb(200, 200, 200);
}

.thumbnail-gallery {
  width: 60%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnail-gallery img {
  width: 24%;
  min-width: 70px;
  height: auto;
  border-radius: 8px;
  border: 1px solid rgb(200, 200, 200);
}

.details-section {
  flex: 2;
  min-width: 350px;
  max-width: 500px;
  margin: 10px;
}

.details-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.badge-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.badge {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.order-info {
  margin-top: 20px;
}

.order-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.order-detail {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.order-icon {
  font-size: 24px;
}

.specifications-section {
  flex: 1;
  min-width: 350px;
  max-width: 400px;
  margin: 16px;
}

.product-detail {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  height: 20px;
}

.specifications-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.specifications-section td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.specifications-section td:first-child {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .product-box {
    width: 27vw;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns for medium screens */
  }
}

@media (max-width: 955px) {
  .product-box {
    width: 39vw;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for smaller screens */
  }
}

@media (max-width: 667px) {
  .product-box {
    width: 75vw;
  }

  .product-list {
    grid-template-columns: 1fr;
    /* 1 column for very small screens */
  }
}