/* src/components/css/profile.module.css */
/* used in profile.jsx, accountdetails.jsx, orderhistory.jsx */

/* Profile */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    padding: 1rem;
    width: 40vw;
    min-width: 400px;
    max-width: 800px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bottomNavigation {
    width: 100%;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container */
.container {
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Account Details */
.detailsSection {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.detailsColumn {
    flex: 1 1 45%;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c3e50;
}

.detailsRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #bdc3c7;
}

.detailsRow:last-child {
    border-bottom: none;
}

.detailsLabel {
    font-weight: bold;
    color: #2c3e50;
}

.detailsValue {
    color: #7f8c8d;
    margin-left: 10px;
}

/* Order History */
.orderHistoryContainer {
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orderHistoryContainer h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #34495e;
    text-align: center;
}

.orderHistoryContainer p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.orderCard {
    background: #ffffff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.orderCard:hover {
    transform: scale(1.02);
}

.orderId {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
    margin: 1rem auto;
}

.orderDetails {
    font-size: 16px;
    color: #7f8c8d;
    margin: 1rem auto;
}

.item {
    border-bottom: 1px solid #eee;
}

.item:last-child {
    border-bottom: none;
}

.productType {
    font-weight: bold;
    color: #2c3e50;
}

.price {
    color: #27ae60;
    font-weight: bold;
}