/* src/components/css/shoppingcart.module.css */
/* used in shoppingcart.jsx */

/* Container for both Shopping Cart and Checkout Box */
.shoppingCartAndCheckoutBoxContainer {
    width: calc(100% - 8rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 10vh auto;
}

/* Checkout Box Container */
.checkoutBoxContainer {
    width: 30%;
    flex: 3;
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    margin: 0 auto;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Shopping Cart Container */
.shoppingCartContainer {
    width: 70%;
    flex: 7;
    min-width: 575px;
    margin: 0 auto;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Header */
.shoppingCartContainer h1 {
    text-align: center;
    color: rgb(50, 50, 50);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Cart List */
.shoppingCartList {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Cart Item */
.shoppingCartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.shoppingCartItem:hover {
    background-color: rgb(240, 240, 240);
    transition: all 0.3s ease;
}

/* Item Details */
.cartItemDetails {
    display: flex;
    align-items: center;
}

.cartItemImage {
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cartItemInfo p {
    margin: 0;
    color: rgb(50, 50, 50);
    font-size: 1rem;
}

/* First Child */
.cartItemInfo p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.cartItemInfo p:first-child a {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.cartItemInfo p:first-child a {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.cartItemInfo p:first-child a:hover {
    text-decoration: underline;
}

.cartItemInfo p a {
    margin: 0;
    font-weight: normal;
    color: rgb(50, 50, 50);
    font-size: 1rem;
}

.cartItemInfo p a:hover {
    text-decoration: underline;
}

.cartItemPrice {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

/* Buttons */
.cartItemRemoveButton,
.clearCartButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cartItemRemoveButton:hover {
    background-color: rgb(80, 80, 80);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.cartItemRemoveButton:active {
    background-color: rgb(50, 50, 50);
    transform: scale(0.95);
}

.clearCartButton:hover {
    background-color: rgb(80, 80, 80);
    transform: scale(1.015);
    transition: all 0.3s ease;
}

.clearCartButton:active {
    background-color: rgb(50, 50, 50);
    transform: scale(0.975);
}

.clearCartButton {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;
}

/* Empty Cart Message */
.emptyCartMessage {
    text-align: center;
    color: #777;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 25vh;
    font-size: 1.75rem;
}

/* Error Message */
.errorMessage {
    color: rgb(200, 15, 15);
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .shoppingCartAndCheckoutBoxContainer {
        width: calc(100% - 2rem);
    }

    .checkoutBoxContainer {
        width: 100%;
        margin: 0 auto;
    }

    .shoppingCartContainer {
        width: 100%;
        margin: 0 auto;
    }
    
}