/* Styling for the button that opens the drawer */
.selectDiamondButton {
    background-color: #0000c0 !important;
    color: #fff !important;
    padding: 15px 30px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 18px !important;
    transition: background-color 250ms ease, transform 250ms ease;
}

.selectDiamondButton:hover {
    background-color: #000080 !important;
    transform: scale(1.05) !important;
    transition: background-color 250ms ease, transform 250ms ease;
}

.selectDiamondButton:active {
    background-color: #000060 !important;
    transform: scale(0.95) !important;
    transition: background-color 250ms ease, transform 250ms ease;
}


/* Styling for the content inside the drawer */
.drawerContent {
    background-color: #fff !important;
    height: 10rem !important;
    box-sizing: border-box !important;
    justify-content: center !important;
}

.toggleButtonGroup {
    width: 100%;
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.drawerBox {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 25vw !important;
    height: 100px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: 1px solid !important;
    border-radius: 10px !important;
    transition: background-color 250ms ease, transform 250ms ease;

    padding: 0 !important;
    margin: 1rem 0 !important;
    cursor: pointer;
}

.drawerBox:hover {
    transform: scale(1.05);
    transition: background-color 250ms ease, transform 250ms ease;
}

.drawerBox:active {
    transform: scale(0.95);
    transition: background-color 250ms ease, transform 250ms ease;
}

.confirmButton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 10vw !important;
    height: 50px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: 1px solid !important;
    border-radius: 10px !important;
    
    padding: auto !important;
    margin: auto !important;
    background-color: #0000c0 !important;
    color: #fff !important; /* Added color for text */
    cursor: pointer;
    transition: background-color 250ms ease, transform 250ms ease;
}

.confirmButton:hover {
    background-color: #000080 !important;
    transform: scale(1.05);
    transition: background-color 250ms ease, transform 250ms ease;
}

.confirmButton:active {
    background-color: #000060 !important;
    transform: scale(0.95);
    transition: background-color 250ms ease, transform 250ms ease;
}

/* Responsive design for smaller screens */
@media (max-width: 667px) {
    .toggleButtonGroup {
        flex-direction: column;
    }

    .drawerBox {
        width: 75% !important;
        margin: 2rem !important;
    }
}